<div class="converter">
  <app-currency-input
    [amount]="fromAmount"
    [currency]="fromCurrency"
    [currencies]="currencies"
    [disabledCurrencies]="[toCurrency]"
    (amountChange)="onFromAmountChange($event)"
    (currencyChange)="onFromCurrencyChange($event)"
  ></app-currency-input>
  <img
    src="https://cdn-icons-png.flaticon.com/512/54/54329.png"
    alt="Reverse"
    (click)="onReverseButtonClick()"
    class="reverse-button"
    [class.rotate]="isRotating"
  />
  <app-currency-input
    [amount]="toAmount"
    [currency]="toCurrency"
    [currencies]="currencies"
    [disabledCurrencies]="[fromCurrency]"
    (amountChange)="onToAmountChange($event)"
    (currencyChange)="onToCurrencyChange($event)"
  ></app-currency-input>
</div>
